# Node.js (Frontend ve Mobil için)
node_modules/
dist/
.vscode/
.expo/
npm-debug.log*

# .NET / Visual Studio (Backend için)
bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# İşletim Sistemi
Thumbs.db
desktop.ini
.DS_Store